sudo: required

language: scala

services:
  - docker

before_install:
- docker pull mauriciojost/scala-olympus-photosync:latest
- docker run --mount type=bind,source=$(pwd),target=/root/op mauriciojost/scala-olympus-photosync:latest /bin/sh -c "cd /root/op && ps -ef && pwd && whoami && sbt -Dsbt.log.noformat=true -Dsbt.global.base=.sbt -Dsbt.boot.directory=.sbt -Dsbt.ivy.home=.ivy2 clean compile"
- docker run --mount type=bind,source=$(pwd),target=/root/op mauriciojost/scala-olympus-photosync:latest /bin/sh -c "cd /root/op && /usr/bin/xvfb-run sbt -Dsbt.log.noformat=true -Dsbt.global.base=.sbt -Dsbt.boot.directory=.sbt -Dsbt.ivy.home=.ivy2 coverage test"

script:
- sbt coverageReport coveralls

