sudo: required

language: scala

services:
  - docker

before_install:
- docker pull mauriciojost/scala-olympus-photosync:latest
- docker run -e TRAVIS_JOB_ID="$TRAVIS_JOB_ID" -e TRAVIS_BRANCH="$TRAVIS_BRANCH" --mount type=bind,source=$(pwd),target=$(pwd) mauriciojost/scala-olympus-photosync:latest /bin/sh -c "cd "$(pwd)" && ps -ef && pwd && whoami && sbt -Dsbt.global.base=.sbt -Dsbt.boot.directory=.sbt -Dsbt.ivy.home=.ivy2 clean compile && /usr/bin/xvfb-run sbt -Dsbt.global.base=.sbt -Dsbt.boot.directory=.sbt -Dsbt.ivy.home=.ivy2 coverage test && sbt coverageReport coveralls"

